## Setup

In [20]:
import pandas as pd

In [3]:
%load_ext kedro.ipython

[07/11/24 00:48:04] INFO     Registered line magic '%reload_kedro'                                   ]8;id=5424;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py\__init__.py]8;;\:]8;id=110763;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py#58\58]8;;\

                    INFO     Registered line magic '%load_node'                                      ]8;id=942845;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py\__init__.py]8;;\:]8;id=699992;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py#60\60]8;;\

                    INFO     Resolved project path as:                                              ]8;id=7866;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py\__init__.py]8;;\:]8;id=741667;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py#171\171]8;;\
                             /Users/ovee/Documents/kedro-project/spaceflights/space-flights.
                             To set a different path, run '%reload_kedro <project_root>'

                    INFO     Kedro project space_flights                                            ]8;id=735035;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py\__init__.py]8;;\:]8;id=227820;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py#141\141]8;;\

                    INFO     Defined global variable 'context', 'session', 'catalog' and            ]8;id=268048;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py\__init__.py]8;;\:]8;id=170496;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/ipython/__init__.py#142\142]8;;\
                             'pipelines'

In [5]:
catalog

<kedro.io.data_catalog.DataCatalog object at 0x7f9758901d60>

## Data Reading

In [28]:
comp_df = catalog.load("companies")
comp_df.head()

[07/11/24 01:27:43] INFO     Loading data from companies (CSVDataset)...                        ]8;id=506929;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=734305;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/io/data_catalog.py#508\508]8;;\

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,f
1,46728,100%,NaN,1.0,f
2,34618,38%,Isle of Man,1.0,f
3,28619,100%,Bosnia and Herzegovina,1.0,f
4,8240,NaN,Chile,1.0,t

In [29]:
shuttles_df = catalog.load("shuttles")
shuttles_df.head()

                    INFO     Loading data from shuttles (ExcelDataset)...                       ]8;id=539149;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=979753;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/io/data_catalog.py#508\508]8;;\

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,f,f,"$1,715.0",32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,f,f,"$3,405.0",14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,806.0",47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,f,f,"$1,676.0",26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,f,f,"$4,718.0",26648

In [30]:
rev_df = catalog.load("reviews")
rev_df.head()

[07/11/24 01:27:48] INFO     Loading data from reviews (CSVDataset)...                          ]8;id=173872;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=321786;file:///Users/ovee/Documents/kedro-project/spaceflights/.venv/lib/python3.9/site-packages/kedro/io/data_catalog.py#508\508]8;;\

,shuttle_id,review_scores_rating,review_scores_comfort,review_scores_amenities,review_scores_trip,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month
0,45163,91.0,10.0,9.0,9.0,9.0,9.0,9.0,26,0.77
1,49438,96.0,10.0,10.0,10.0,10.0,10.0,9.0,61,0.62
2,10750,97.0,10.0,10.0,10.0,10.0,10.0,10.0,467,4.66
3,4146,95.0,10.0,10.0,10.0,10.0,9.0,9.0,318,3.22
4,5067,97.0,10.0,9.0,10.0,10.0,9.0,10.0,22,0.29

## Functions

In [26]:
def _is_true(x: pd.Series) -> pd.Series:
    return x == "t"

def _parse_percentage(x: pd.Series) -> pd.Series: 
    return x.str.replace("%", "").astype(float)

def _parse_money(x: pd.Series) -> pd.Series:
    return x.str.replace("$", "").str.replace(",", "").astype(float)

In [31]:
comp_df = (
    comp_df
        .assign(
            iata_approved = lambda df_: _is_true(df_.iata_approved),
            company_rating = lambda df_: _parse_percentage(df_.company_rating)
        )
)

comp_df.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100.0,Isle of Man,1.0,False
1,46728,100.0,NaN,1.0,False
2,34618,38.0,Isle of Man,1.0,False
3,28619,100.0,Bosnia and Herzegovina,1.0,False
4,8240,NaN,Chile,1.0,True

In [32]:
shuttles_df = (
    shuttles_df
        .assign(
            d_check_complete = lambda df_: _is_true(df_.d_check_complete),
            moon_clearance_complete = lambda df_: _is_true(df_.moon_clearance_complete),
            price = lambda df_: _parse_money(df_.price)
        )
)

shuttles_df.head()

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,False,False,1715.0,32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,False,False,3405.0,14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,True,False,1806.0,47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,False,False,1676.0,26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,False,False,4718.0,26648